<html>
<div class = "row">
	<div class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
{% for proj in data_source.jobs %}
	<li>
	Project name: {{proj.name}}<br>
	Project status: 
	{% if {{proj.color}} = "blue" %}
	blue!!!!!
	{%endif}

	</li>
	<div> </div>
{% endfor %}
	</div>
</div>
</html>
