<html>
<div class = "row">
	<div class="large-4 columns">
{% for proj in data_source.jobs %}
	<li>Project name: {{proj.name}}<br>
	Project status: {{proj.color}}</li>
	<div> </div>
{% endfor %}
	</div>
</div>
</html>
