<html>
{% for entry in data_source %}
	{% if entry=='jobs' %}
		{% for project in entry %}
		    <div>{{ project.name }}</div>
		    <div>{{ project.color }}</div>
		{% endfor %}
	{% endif %}
{% endfor %}
</html>
