<!DOCTYPE html>
<html>
<body>

<iframe src="https://jira.xiv.ibm.com/secure/ConfigureReport.jspa?projectOrFilterId=project-10091&periodName=daily&daysprevious=30&selectedProjectId=10091&reportKey=com.atlassian.jira.plugin.system.reports%3Aaverageage-report&Next=Next" width="1600" height="1100">
  <p>Your browser does not support iframes.</p>
</iframe>

</body>
</html>
